@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --ghost-white: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--ghost-white);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hero {
  min-height: 100svh;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 70px 5% 4rem;
  display: flex;
  position: relative;
}

.for-hero {
  height: 100%;
  min-height: 65svh;
  grid-column-gap: 50px;
  grid-template-columns: 1.6fr 0.8fr;
  align-items: center;
  display: grid;
}

@media screen and (max-width: 1200px) {
  .hero {
    min-height: auto;
    flex-direction: column-reverse;
    align-items: stretch;
    padding-top: 96px;
    padding-bottom: 180px;
    display: flex;
    position: relative;
  }

  .for-hero {
    grid-row-gap: 50px;
    flex-direction: column;
    display: flex;
  }

  .hero-image {
    min-height: 500px;
    max-width: 400px;
  }
}

@media screen and (max-width: 500px) {
  .hero-image {
    min-height: 350px;
    max-width: 400px;
  }
}